@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    border-color: theme('colors.zinc.200');
  }

  html.dark * {
    border-color: theme('colors.zinc.800');
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    background-color: #ffffff;
    color: #09090b;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html.dark body {
    background-color: #09090b;
    color: #f4f4f5;
    color-scheme: dark;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d4d4d8;
    border-radius: 9999px;
  }

  html.dark ::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1aa;
  }

  html.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
  }
}
